.memories {
  height: 100vh;
  /* margin: 2.5rem; */
  background-color: var(--color-dark--1);

  background-size: cover;
  background-position: center;
  padding: 2.5em 5rem;
}

@media (max-width: 34em) {
  .memories {
    padding: 2rem;
  }
}
