html {
  background-color: var(--color-dark--1);
}

.pricing {
  height: 100vh;
  /* margin: 2.5rem; */
  background-color: var(--color-dark--1);

  background-size: cover;
  background-position: center;
  padding: 2.5em 5rem;
}

.header {
  font-family: "Rubik";
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  padding: 1.5rem;
}

.header span {
  color: var(--color-brand--2);
}

.subHeading {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #bdbdbd;

  margin-bottom: 4rem;

  padding: 1rem;
}

.message {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #bdbdbd;
  margin-top: 2rem;

  padding: 1rem;
}

.details {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
  color: #bdbdbd;
  margin: 4rem;
}

@media (max-width: 34em) {
  .pricing {
    padding: 2rem;
  }
}
