.page {
  height: 100vh;
  width: 100vw;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  background-color: var(--color-dark--2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.logo {
  width: 100px;
  height: 100px;
}

.page h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
