.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  z-index: 999;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav,
.mobileNav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
  transition: all 0.2s ease;
}

.menuBtn,
.menuCloseBtn {
  display: none;
  font-size: 4rem;
  color: var(--color-brand--2);
  cursor: pointer;
}

.mobileNav {
  background-color: #1d1d1ded;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.45s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.mobileNav li {
  list-style: none;
}

.mobileNav li a {
  color: var(--color-light--2);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.menuClosed {
  left: 100%;
  opacity: 0.25;
}

.menuOpen {
  left: 0;
  opacity: 1;
}

@media (max-width: 38.75em) {
  .menuBtn,
  .menuCloseBtn {
    display: block;
  }

  .nav ul {
    display: none;
  }
}
