.formContainer {
  display: grid;
  color: var(--color-light--2);
  align-items: center;
  grid-template-columns: 24rem 1fr 1.2fr;
  gap: 2.4rem;
  padding: 1.2rem 0;
}

.formBtn {
  display: grid;
  grid-template-columns: 24rem 1fr 1.2fr;
  padding: 1.2rem 0;
  gap: 2.4rem;
}

.fileInput {
  border: none;
  background-color: var(--color-light--4);
}

.formContainer button {
  border: none;
}
